 <footer class="footer border-top footer text-muted">
    <div class="container">
        &copy; 2023 - portfolio - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>